# ignore idea files
*.iml
**/.idea

# bsp
.bsp

# any targets
**/target

# ignore .travis.yml
.travis.yml
.gitignore1
.directory

# ignore eclipse files
*.cache-main
*.cache-tests
*.classpath
*.project
**/.settings